.post {
    width: 100%;
}
.wp-block-image {
    margin-inline-end: 0;
    margin-inline-start: 0;
}
.wp-block-coblocks-row {
    padding: 1rem !important;
}
.wp-block-coblocks-hero__inner {
    margin-inline-end: 0;
    margin-inline-start: 0;
}
.woocommerce {
    #wrap {
        max-width: 920px;
    }
}
#wrap {
    padding: 0;
    max-width: 100%;
    width: 100vw;
}
p, figcaption {
    font-size: 1.2rem;
}
@media screen and ( min-width: 960px ) {
    .wp-block-image {
        margin-inline-end: 0;
        margin-inline-start: 0;
    }
    .wp-block-coblocks-row {
        padding: 0 !important;
    }
}
